*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Caveat', cursive;
}
header{
    
    height: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: black;
    color: white;
    align-items: center;
}
.logo{
    margin-top: 3rem;
    height: 10rem;
    width: 10rem;
}
.imgheader{
    display: flex;
    align-items: center;
    height: 25rem;
    background: no-repeat center  url(../img/design1_image2.jpg);
    background-size: 100% 100%; 
}
nav{
    display: flex;
    justify-content: center;
    height: 6.5rem;
    background: linear-gradient(#d1d1d6, #d1d1d6);
    position: sticky;
    top:0;
}

a{  text-decoration:none;
    display: flex;
    justify-content: center;
    color: rgb(254, 254, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 20px ;
    margin: 20px;
    padding: 20px;
    height: 4rem;
    width: 12rem;
    font-size: 1.5vw;
    font-weight: bolder;
}
a:hover {background-color:rgb(236, 50, 25)}
a:hover{box-shadow:3px 0rem 20px 10px  rgb(226, 65, 65) ;}
h1:hover {background-color: rgb(236, 50, 25)}
h1:hover{box-shadow:3px 0rem 20px 10px  rgb(236, 50, 25) ;}
h1{
    
    border-radius: 20px ;
    font-size: 3vw;  
}
h2{ 
    color: rgb(241, 220, 31);
    text-shadow: 10px 10px rgb(6, 121, 64);
    font-size: 10vw;
    -webkit-text-stroke: 3px rgb(236, 50, 25);/*-webkit-text-stroke is a vendor extension*/
}
h3{
    font-size: 3rem;
    font-weight: bolder;
}
.sub{
    font-weight: lighter;
}
h4{
    padding: 0 0 30px 15px;
    font-size: 2.5rem;
    
    
}
p{
    font-weight: bolder;
    font-size: larger;
}
main{
    
    min-height: 80vh;
}
#mindex{
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
    background: no-repeat center url(../img/hockey1.jpg); 
    background-size:100% 100%; 
}
#mainabout{
    background: no-repeat center url(../img/hockey2.jpg); 
    background-size:100% 100%; 
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
    align-items: center;
}
#contac{
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
    align-items: center;
    background: no-repeat center url(../img/hockey3.jpg); 
    background-size:100% 100%; 
}
.events{
    padding-right: 50%;}
#linkemail:hover{
    background-color: rgb(226, 233, 235);
    height: 40px;
    text-align: center;
    
}
#linkemail{
    display: flex;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    background:none;
}
#mrules{
    color: white;
    padding: 3rem;
    background: no-repeat center url(https://cms.nhl.bamgrid.com/images/photos/316442594/1920x1080/cut.jpg);
    background-size:100% 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pruls{
    width: 70%;
}
.pr{
    font-weight: bolder;
    width: 80%;
}
#mregistration{
    font-size: 2rem;
    color: rgb(5, 5, 5);
    padding: 3rem;
    display: flex;
    flex-direction: row;;
    background: linear-gradient(#d1d1d6, #1485057e);
}

legend{font-weight: bolder;
}
.ihf{
font-size: 4rem; 
padding-bottom: 3rem; 
}
li{
    padding: 1rem;
    font-size: 1.5rem;
}
ol{
    padding: 2rem;
}
.pr{
font-weight: bolder;
}
.l22{
    width: 80%;
}
ul>li{
list-style-type: circle;
}
#mgames{
    color: white;
    padding: 3rem;
    background: no-repeat center url(../img/games1.png);
    background-size:100% 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.table{
    font-weight: bolder;
    font-size: 1.5rem;
    color: #e40d0d;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(221, 156, 16, 0.877);
    padding: 1rem;
    border: 1px solid black;
}
.hh4{
    display: flex;
    padding: 9px;
}
.container{
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 50vw;
    font-size: 1.5rem;
}
.subg{
    background-color: #057e3373;
    border-radius: 5px;
    box-shadow: 5px 5px #057e3341;
}

table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background-color: #057e33;
    color: white;
}
tbody tr:nth-child(2n){
    background-color: rgb(202, 190, 29);
}
tbody td{
    border: none;
    text-align: center;
}
tbody tr:hover{
    background-color: #2ec467;
    color: white;
}
.mapa{
    width: 25%;
}
.fecha{
width: 25%;
}
.lugar{
    width: 25%;
}
.hora{
    width: 25;
}

.maps:hover{
    -webkit-transform: scale(3); /*no encontre el porque de esta advertencia-funciona -no da error al check- :c */
}
.fot1{
    display: flex;
    align-items: center;
    background-color: #057e3373;
    border-radius: 5px;
    box-shadow: 5px 5px #057e3341;
}
.fot2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #057e3373;
    border-radius: 5px;
    box-shadow: 5px 5px #057e3341;
}
.lis{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.phone{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ml{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer{
    color: rgb(255, 255, 255);
    background-color: black;
}
